<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments" href="/tabs/payments">
      <ion-icon name="card"></ion-icon>
      <ion-label>Pagamentos</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon name="time"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
