<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="showBackButton">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end" *ngIf="showExtraButton">
      <ion-button (click)="onExtraButtonClick()">
        <ion-icon [name]="extraButtonIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>